/*Classe servant a l'application*/
.separator{
  height: 2px;
  border-radius: 10px 10px 10px 10px;
}

.bg-noir{
  background-color: black;
}


/*Pour iframe de coordonnees*/
.iframe{
  height: 50vh;
}

/**Pour le formulaire des coordonees*/
.w-formulaire
{
  width: 40%;
}


/* w-70 pour la div section*/
.sidebar{
  /* Rendre a taille dynamique par rapport a la hauter de l ecran */
  height: calc(100vh - 6.5rem);
  /* Rendre invisble le contenu qui depassera de la div */
  overflow: hidden;
}

/* Animation des sections */
@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
/* La classe a afecter a une div pour qu elle a cette animation */
.animated-div {
  animation: slideIn 0.5s ease forwards;
}
/* Margin entre la section et la gauche */
.m-26{
  margin-left: 26.5vw;
}
/* Taille des section */
.w-76{
  width: calc(100% - 27vw)
}
.w-20{
  width: 25%;
}
/* Taille de la sidebar */
.w-absolute{
  width: 25vw
}
/* Pour fixer la sidebar au bottom */
.bottom-1{
  bottom: .25rem;
}
/* Pour pouvoir justifier du texte */
.text-justify{
  text-align: justify;
}
